body {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
}

.container {
    background-color: #eeecff;
    width: 100%;
    max-width: 100%;
}

#side-bar {
    background-color: #9988E7;
    display: grid;
    box-shadow: 8px 8px 8px #383838;
    padding-bottom: 100%;
}

#new-recipe  {
    background-color: #eeecff;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 4px 4px 5px #383838;
}

#source-dropdown {
    margin-left: 10px;
    margin-right: 10px;
}

#source-button {
    background-color: #eeecff;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 4px 4px 5px #383838;
}

#categories {
    background-color:#eeecff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 4px 4px 5px #383838;
    padding-left: 18px;
    padding-top: 10px;
}

#sources {
    border-radius: 8px;
    box-shadow: 4px 4px 5px #383838;
}

.opening-text {
    padding: 100px;
}

/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_list-style-image */
ul {
    list-style-type: none;
    font-weight: bold;
    list-style-image: url("../images/list.png")
}

li {
    line-height: 2;
    font-size: 20px;
    letter-spacing: 6px;
}

a:link, a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
}

.checked {
    color: silver;
}

#dish-page, #home-page {
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}