body {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
}

.container {
    background-color: #eeecff;
    width: 100%;
    max-width: 100%;
}

/* Side-Bar courtesy of https://bit.ly/3iczX6z */
#sidebar {
    width: 250px;
    top: 0;
    left: 0;
    display: grid;
    transition: all 0.3s;
    padding-top: 10px;
    padding: 15px;
    line-height: 2;
    margin-left: 13px;
}

#new-recipe, #all, #logout, #new-source {
    background-color: white;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #cb6ce6;
}

#logout {
    margin-top: 60px;
}

li {
    line-height: 2;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
}

.recipe-list {
    visibility: hidden;
}

/* Help with custom list https://bit.ly/2Kgc0i1 */
.listing {
    font-size: 14px;
    list-style-image: url("../images/list.png")
}

a:link, a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
}

.checked {
    color: silver;
}

.fa-star, .checked {
    width: 25px;
}

#dish-page {
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title, #rating-title, #rating, #image, #source, #notes {
    padding: 20px;
}

#notes {
    border-style: dashed;
    border-color: #cb6ce6;
    background-color: white;
    margin-bottom: 10px;
}

a {
    color: #cb6ce6;
}